@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-display: swap;
}
